<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <% unless f.object.new_record? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :completed %> Completed
      </label>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%#= form_for @task do |t| %>
<%#= t.text_field :title, placeholder: "Add new item" %>
<%#= t.text_field :details, placeholder: "Add details" %>
<%#= t.label :completed %>
<%#= t.check_box :completed %>
<%#= t.submit %>
<%# end %>
